.page-module__E0kJGG__container{max-width:900px;margin:0 auto;padding:40px 20px}.page-module__E0kJGG__title{margin-bottom:16px;font-size:2rem}.page-module__E0kJGG__description{color:#444;line-height:1.5}
